<div class="project-view-container container">
  <div class="project-view-box">
    <div class="project-view-content">
      <div class="left-section">
        <div class="title">
          <h1 class="project-title">Project XXX</h1>
          <p class="project-description">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English.
          </p>
        </div>
        <div class="project-languages">
          <div><i class="plang"></i></div>
          <div><i class="plang"></i></div>
          <div><i class="plang"></i></div>
        </div>
        <div class="project-previews">
          <div class="preview-1">
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="preview-1">
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="preview-1">
            <img src="../../assets/images/project.jpg" />
          </div>
        </div>
      </div>
      <div class="right-section">
        <img src="../../assets/images/project.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <img
    (click)="toHome()"
    class="footer-logo"
    src="../../assets/images/logo_footer.svg"
  />
</div>
