.artificer-dashboard{
    .dashboard-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .character-container{
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .character-logo{
                display: flex;
                flex-direction: column;
                align-items: center;
                .logo-description{
                    width: 500px;
                    image-rendering: auto;
                    image-rendering: crisp-edges;
                    image-rendering: pixelated;
                }
                .btn-start{
                    font-family: "Voice Activated BB";
                    color: red;
                    text-transform: uppercase;
                    border: 1px #333 solid;
                    margin-top: 30px;
                    width: 170px;
                    padding: 15px 0;
                    background: rgba(0,0,0,.5);
                    cursor: pointer; 
                    transition: .5s;
                    box-shadow: 0 0 20px transparent;
                    border-radius: 20px;
                    outline: none;
                }
                .btn-start:hover{
                    border-color: red;
                    transition: .3s;
                }

            }  
        }
    }
}