<div class="project-container container">
  <div class="project-box">
    <div id="container-project" class="project-content">
      <div class="box-head">
        <h1 class="page-title">Projects</h1>
      </div>
      <div id="box-project" class="box-projects" data-tilt>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
          <div class="project-item">
            <div class="img-overlay">
              <a (click)="toProject()"><i class="icon-view"></i></a>
            </div>
            <img src="../../assets/images/project.jpg" />
          </div>
        </div>
    </div>
  </div>
</div>
<div class="footer">
  <img (click)="toHome()" class="footer-logo" src="../../assets/images/logo_footer.svg"/>
</div>