<div class="contact-container container">
  <div class="contact-box">
    <div class="contact-content">
      <div class="box-head">
        <h1 class="page-title">Contact Us</h1>
      </div>
      <div class="box-body">
        <div class="left-section">
          <div class="username">
            <span>Name</span><br />
            <input type="text" placeholder="Juan Dela Cruz" name="name" />
          </div>
          <div class="email">
            <span>E-mail Address</span><br />
            <input type="text" placeholder="jdela@email.com" name="email" />
          </div>
          <div class="information">
            <img
              class="logo-description"
              src="../../assets/images/logo_description.svg"
            />
            <div class="company-details">
              <div>
                <i class="icon-address"></i><span> Davao City, Philippines</span
                ><br />
              </div>
              <div>
                <i class="icon-email"></i><span> Artificers@gmail.com</span
                ><br />
              </div>
              <div><i class="icon-number"></i><span> (777) 777-777</span></div>
            </div>
          </div>
        </div>
        <div class="right-section">
          <div class="message-box">
            <span>Message</span><br />
            <textarea rows="15" placeholder="Message goes here..."></textarea>
          </div>
          <div class="button-container">
            <button class="btn-send">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <img
    routerLink="/home"
    class="footer-logo"
    src="../../assets/images/logo_footer.svg"
  />
</div>
