.contact-container{
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-box{
        position: relative;
        width: 80%;
        height: 80%;
        border:1px red solid;
        background: rgba(5,5,5, .85);
        .contact-content{
            .box-head{
                padding: 10px 20px;
                border-bottom: 1px red solid;
                h1{
                    font-family: "Leculier";
                    color: red;
                    font-size: 40px;
                }
            }
            .box-body{
                position: relative;
                display: flex;
                flex: 1;
                height: 100%;
                .left-section{
                    flex: 1;
                    background: white;
                    height: 100%;
                }
                .right-section{
                    background: yellow;
                    flex: 2;
                    height: 100%;
                }
            }
        }
    }
}

.footer{
    position: absolute;
    top: 10px;
    left: 10px ;
    padding: 10px;
    display: flex;
    align-items: center;
    .footer-logo{
        width: 200px;
    }
}