<div class="home-container container">
  <div class="menu-container">
    <div class="left-section">
      <ul>
        <li class="active li-home" (click)="toHome()">
          <div class="list-container">
            <span>
              Home
            </span>
            <img
              class="home-hover"
              src=""
            />
          </div>
        </li>
        <li class="li-team" routerLink="/team">
          <div class="list-container">
            <span>
              Team
            </span>
            <img
              class="team-hover"
              src=""
            />
          </div>
        </li>
        <li class="li-projects" routerLink="/projects">
          <div class="list-container">
            <span>
              Projects
            </span>
            <img
              class="projects-hover"
              src=""
            />
          </div>
        </li>
        <li class="li-contact" routerLink="/contact">
          <div class="list-container">
            <span>
              Contact Us
            </span>
            <img
              class="contact-hover"
              src=""
            />
          </div>
        </li>
      </ul>
    </div>
    <div class="right-section">
      <div class="about-us">
        <h1>The Artificers</h1>
        <p>
          <span class="strong-text">The Aritificers</span> is an experienced and
          passionate group of designers, developers, project managers, and
          artists. Every client we work with becomes a part of the team.
          Together we face the challenges and celebrate the victories. The
          Artificer team is active in the creative community, endlessly
          interested in what’s next, and generally pleasant to be around.
        </p>
        <p>
          We design responsive websites, WordPress Websites, Mobile Responsive
          Web Designs, eCommerce websites and just about anything with the word
          website.
        </p>
        <p>
          We strive to provide the best quality service and listen to our
          customers needs first and foremost. We believe in helping and building
          our community through our work.
        </p>
      </div>
      <img
        class="character"
        src="../../assets/images/Artificer-Character.gif"
      />
    </div>
  </div>
</div>
<div class="footer">
  <img class="footer-logo" src="../../assets/images/logo_footer.svg" />
</div>
