p,
h1,
span,
li,
a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  background: black;
  margin: 0;
  height: 100%;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0,.5);
}

.container, .footer{
  z-index: 2;
}
* {
  outline: none;
}
.particles-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}
