<div class="team-container container">
  <div class="team-box">
    <div class="team-content">
      <div class="left-section">
      </div>
      <div class="right-section">
        <div class="name-container">
          <h1>Francis</h1>
          <h2>Project Manager</h2> 
          <span class="name-description">
            Artificer's Team Leader. A Senior Front and Backend Developer.
          </span>
        </div>
        <div id="skill-container" class="skills-set-container sir" style="color:white;">
            <div class="skills-wrapper">
              <div class="skill html">
                <span class="skill-title">HTML / CSS</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill php">
                <span class="skill-title">PHP</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill laravel">
                <span class="skill-title">Laravel</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill mysql">
                <span class="skill-title">MySQL</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill jsjq">
                <span class="skill-title">JavaScript & JQuery</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill reactjs">
                <span class="skill-title">ReactJS</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill angular">
                <span class="skill-title">Angular</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill wordpress">
                <span class="skill-title">WordPress</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill xd">
                <span class="skill-title">Adobe XD</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill illustrator">
                <span class="skill-title">Adobe Illustrator</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill photoshop">
                <span class="skill-title">Adobe Photoshop</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
              <div class="skill ae">
                <span class="skill-title">Adobe After Effects</span>
                <div class="skill-experience-bar"><div class="bar"></div></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="member-picture">
    <img src="../../assets/images/Members/robert.png">
  </div>
</div>
<div class="footer">
  <img (click)="toHome()" class="footer-logo" src="../../assets/images/logo_footer.svg"/>
</div>
