.main {
    max-width: 420px;
    margin: auto;
}
.member {
    height: 187px;
    width:430px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
}
.member * {
    transition: all 0.5s ease-in-out;
}
.member.selected {
    top: 0;
    position: fixed;
    z-index: 2;
}
.alreno {
    opacity: 0.5 !important;
    position: fixed;
    bottom: -20%;
    right: -80%;
    z-index: 2;
}
.fma {
    left: -800px;
    position: relative;
    top: -550px;
}
.lchen {
    left: -720px;
    position: relative;
    top: -820px;
}
.selected .full .lchen_full{
    top: -100px;
    position: fixed;
    left: -70px;
}
.kyle {
    left: -720px;
    position: relative;
    top: -700px;
}
.selected .full .kyle_full{
    top: -100px;
    position: fixed;
    left: -70px;
}
.juris {
    left: -720px;
    position: relative;
    top: -700px;
}
.selected .full .juris_full{
    top: -100px;
    position: fixed;
    left: -70px;
}
.febie {
    left: -720px;
    position: relative;
    top: -710px;
}
.selected .full .febie_full{
    top: -100px;
    position: fixed;
    left: -70px;
}
.selected {
    opacity: 1;
    overflow: auto;
    width: 500px;
    height: 1000px;
    max-height: 100%;
    max-width: 100%;
}
.selected * {
    opacity: 1;
}
.selected .fma{
    display: none;
}
.full {

    opacity: 0;
}
.selected .full {
    opacity: 1;
    position: fixed;
    top: 0;
}
.selected .full .fma_full{
    top: -30px;
    position: fixed;
    left: -70px;
}
.selected .full p, .selected .full h3, .selected .full h4 {
    z-index: 2;
    position: relative;
    font-family: fantasy;
}
.selected .full h3, .selected .full h4 {
    font-size: 20px;
    margin-top: 10px;
}
.selected .full p {
    font-size: 15px;
    width: 50%;
    margin-top: 30px;
}
.selected .meta {
    top:80px;
    position: relative;
    left: 20px;
}
.badges {
    z-index: 3;
    position: fixed;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}