.project-view-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 20px 20px;
  .project-view-box {
    display: flex;
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
    .project-view-content {
      height: 100%;
      display: flex;
      flex: 1;
      .left-section {
        padding: 20px 0 0 0;
        flex: 2;
        flex-direction: column;
        display: flex;
        align-items: center;
        .title {
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
          h1 {
            font-family: "Leculier";
            text-transform: uppercase;
            font-size: 50px;
            background: -webkit-linear-gradient(#c50000, rgb(255, 0, 0));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin:0;
            animation: floatText 2s ease-in-out infinite alternate;
          }
          .project-description {
            color: white;
            font-family: "Abel";
            font-size: 15px;
            text-align: center;
            width: 70%;
          }
        }
        .project-languages {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 20px 0 15px 0px;
          div:first-child{
            animation: floatText 2.5s ease-in-out alternate infinite;
            animation-delay: -1s;
          }
          div:nth-child(2){
            animation: floatText 2.5s ease-in-out alternate infinite;
            animation-delay: -1.5s;
          }
          div:nth-child(3){
            animation: floatText 2.5s ease-in-out alternate infinite;
            animation-delay: -2s;
          }
          div {
            border: red 1px solid;
            height: 50px;
            width: 50px;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 200px;
            margin: 10px 10px;
          }
          div .plang {
            content: url("../../assets/images/logo.svg");
            width: 50px;
            height: 50px;
            color: white;
          }
        }
        .project-previews {
          margin-top: 10px;
          display: grid;
          grid-template-columns: auto auto auto;
          align-items: center;
          justify-content: flex-end;
          div {
            padding: 0 20px;
          }
          div img {
            width: 180px;
          }
        }
      }
      .right-section {
        flex: 1;
        display: flex;
        padding: 20px;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
        img {
          max-width: 75%;
        }
      }
    }
  }
}
.footer {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  .footer-logo {
    width: 200px;
    cursor: pointer;
  }
}
@keyframes floatText{
  from{
      transform: translatey(-10px);
  }
  to{
      transform: translatey(10px);
  }
}